<ng-template class="template" #content let-c="close" let-d="dismiss">
    <form [formGroup]="myForm" (ngSubmit)="guardar(myForm)" errorTailor>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Sprint</h4>
            <button (click)="refresh()" type="button" class="btn-close" aria-label="Close"
                (click)="d('Cross click')"></button>
        </div>


        <div class="modal-body">

            <div class="cont-nombre">
                <mat-icon id="icon-client">alarm_on</mat-icon>
                <input class="controls" type="text" formControlName="dssprint" placeholder="Ingrese nombre del sprint"
                    [controlErrorsTpl]="Error">
            </div>
            <ng-template let-error let-text="text" #Error>
                <!-- {{error|json}}{{text}} -->

                <div *ngIf="error?.minlength">
                    <i> <b>Error:</b>No comples con los caracteres minomos que son
                        ({{error?.minlength?.requiredLength}}),ingresaste
                        solo:({{error?.minlength?.actualLength}})</i>
                </div>
            </ng-template>

            <br>
            <div>
                <div id="fecha-ini">
                  <abbr title="Desde">
                    <mat-icon id="icon-client">calendar_today</mat-icon>
                    <input placeholder="Fecha inicio" onfocus="(this.type = 'date')" onfocusout="(this.type='text')" id="start" class="fecha-ini" type="text" formControlName="feinicio" [controlErrorsTpl]="Error">
                  </abbr>
                </div>
                <br>
                <div id="fecha-fin">
                  <abbr title="Hasta">
                    <mat-icon id="icon-client">calendar_today</mat-icon>
                    <input placeholder="Fecha fin" onfocus="(this.type = 'date')" onfocusout="(this.type='text')" id="finish" class="fecha-fin" type="text" formControlName="fefin" [controlErrorsTpl]="Error">
                  </abbr>
                </div>
                <br>
                <div id="tiempo">
                    <mat-icon id="icon-client">alarm</mat-icon>
                    <input id="duracion" formControlName="nmduracion" type="number" [controlErrorsTpl]="Error" placeholder="Duración">
                </div>
            </div>
            <br>


            <mat-icon id="icon-estado"> edit_attributes</mat-icon><select class="option" name="combo"
                formControlName="cdestado" [controlErrorsTpl]="Error">
                <option selected hidden [ngValue]="null">Estado </option>
                <option value="A">Activo</option>
                <option value="I">Inactivo</option>

            </select>

        </div>

        <div class="modal-footer">
            <button type="submit" class="save" [disabled]="myForm.invalid">
                <abbr title="Guardar y agregar">
                    <mat-icon id="icon-button">save add</mat-icon>
                </abbr>
            </button>

            <button mat-icon type="submit" class="save-exit" (click)="d('Cross click')" [disabled]="myForm.invalid">
                <abbr title="Guardar y salir">
                    <mat-icon id="icon-button">save subdirectory_arrow_right</mat-icon>
                </abbr>
            </button>
            <button (click)="refresh()" class="close" type="button" (click)="d('Cross click')">
                Cancelar
            </button>
        </div>
    </form>
</ng-template>

<br>

<div>
    <button class="filter-button2" routerLink="/administrador-de-proyectos" routerLinkActive='active' mat-icon>
        <mat-icon style="margin-top: 10%;">arrow_back</mat-icon>
    </button>
    <h3 id="titulo">Administrador de sprints.</h3>
</div>
<input class="from_control" id="filter" type="text" placeholder="Buscar..." [(ngModel)]="filterPost" name="filterPosts">
<div id="form-client">
    <h5 class="cliente">Cliente</h5>
    <p id="filter3">{{dscliente}}</p>


</div>

<div id="form-proyec">
    <h5 class="proyecto">Proyecto</h5>
    <p id="filter3">{{dsproyecto}}</p>
</div>

<button class="lanzar" mat-icon (click)="open(content)" mat-list-item>
    Nuevo<mat-icon id="icon-add">add_circle</mat-icon>
</button>




<table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table table-bordered hover table-borderless">
    <thead>
        <tr>
            <th style="text-align:center">Id</th>
            <th style="text-align:center">Nombre sprint</th>
            <th style="text-align:center">Fecha inicio</th>
            <th style="text-align:center">Fecha fin</th>
            <th style="text-align:center">Duración</th>
            <th style="text-align:center">Estado</th>
            <th style="text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datosSprint | filterSprint:filterPost">
            <td style="margin-top: 3%; text-align: center;">{{item.nmid}}</td>
            <td style="margin-top: 3%; text-align: center;">{{item.dssprint }}</td>
            <td style="margin-top: 3%; text-align: center;">{{item.feinicio | date:"yyyy/MM/dd"}}</td>
            <td style="margin-top: 3%; text-align: center;">{{item.fefin | date:"yyyy/MM/dd"}}</td>
            <td style="margin-top: 3%; text-align: center;">{{item.nmduracion}}</td>
            <td style="margin-top: 3%; text-align: center;">{{item.cdestado==='A'?'Activo':'Inactivo'}}</td>
            <td style="margin-top: 3%; text-align: center;">
                <button class="edit" mat-icon (click)="editar(item)" (click)="openEdit(content)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>

        </tr>
    </tbody>
</table>
