<ng-template class="template" #content let-c="close" let-d="dismiss">
  <form [formGroup]="myForm" (ngSubmit)="guardar(myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cliente</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="refresh()"
        (click)="d('Cross click')"></button>
    </div>

    <div class="modal-body" mat-icon>
      <div class="cont-nombre">
        <mat-icon class="icon-client">account_circle</mat-icon>
        <input class="controls" formControlName="dscliente" type="text" placeholder="Ingrese Nombre"
          [controlErrorsTpl]="Error">
      </div>
      <ng-template let-error let-text="text" #Error>
        <!-- {{error|json}}{{text}} -->

        <div *ngIf="error?.minlength">
          <i> <b>Error:</b>No comples con los caracteres minomos que son
            ({{error?.minlength?.requiredLength}}),ingresaste
            solo:({{error?.minlength?.actualLength}}) </i>
        </div>
      </ng-template>

      <br>
      <div class="cont-nombre">
        <mat-icon id="icon-estado"> edit_attributes</mat-icon>
        <select class="option" name="combo" formControlName="cdestado" [controlErrorsTpl]="Error">
          <option selected hidden [ngValue]="null">Seleccione un estado: </option>
          <option value="A">Activo</option>
          <option value="I">Inactivo</option>
        </select>
      </div>

    </div>
    <br>
    <div class="modal-footer">

      <button type="submit" [disabled]="myForm.invalid" class="save" (click)="errorbutton()">
        <abbr title="Guardar y agregar">
          <mat-icon class="icon-button">save add</mat-icon>
        </abbr>
      </button>

      <button type="submit" [disabled]="myForm.invalid" class="save-exit" (click)="d('Cross click')" (click)="refresh()"
        (click)="errorbutton()">
        <abbr title="Guardar y salir">
          <mat-icon class="icon-button">save subdirectory_arrow_right</mat-icon>
        </abbr>
      </button>

      <button class="close" type="button" (click)="refresh()" (click)="d('Cross click')">
        Cancelar
      </button>


    </div>
  </form>
</ng-template>






<h3 id="titulo">Administrador de clientes</h3><br>
<input class="from_control" id="filter" type="text" placeholder="Buscar..." [(ngModel)]="filterPost" name="filterPosts">

<button class="lanzar" mat-icon (click)="open(content)" mat-list-item>
  Nuevo<mat-icon id="icon-add"> add_circle</mat-icon>
</button>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="table"
class="table table-bordered hover table-borderless">
  <thead>
    <tr>
      <th style="text-align:center">Id</th>
      <th style="text-align:center">Nombre cliente</th>
      <th style="text-align:center">Estado</th>
      <th style="text-align:center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align:center;" *ngFor="let item of datosClientes | filter:filterPost">
      <td style="margin-top: 3%;">{{item.nmid}}</td>
      <td style="margin-top: 3%;">{{item.dscliente}}</td>
      <td style="margin-top: 3%;">{{item.cdestado==='A'?'Activo':'Inactivo'}}</td>
      <td>

        <button class="edit" mat-icon (click)="editar(item)" (click)="openEdit(content)">
          <abbr title="Editar">
            <mat-icon>edit</mat-icon>
          </abbr>
        </button>
      </td>
    </tr>
  </tbody>
</table>
